@page "/projects"
@inject HttpClient http

@using BugTracer.Api.Dtos



<h3>projects</h3>

<div class="border-bottom border-white shadow rounded-lg" style="background-color: #ededed">
    <table class="table table-striped border table-hover">
        <tr>
            <th>Name</th>
            <th>Decription</th>
            <th> Created On</th>
            <th> CreatedBy</th>
        </tr>
        <tbody>
             @foreach(var project in @Projects)
            {
                <tr>
                    <td>@project.Name</td>
                    <td>@project.Description</td>
                    <td>@project.CreatedOn</td>
                    <td>@project.CreatedBy</td>
                </tr>
            }
        </tbody>
    </table>
</div> 


@code {
    List<ProjectBasicReadDto> Projects = new List<ProjectBasicReadDto>();

}
